
@import url("fonts.css");


@import url("reset.css");


body {
	
	background-color: #333;
	color: #fff;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 15px;
}
.container>*{
	margin-bottom: 40px;
}

.text div:not(:nth-child(odd)) {
	color: cornflowerblue;
}



/* GAME */

.game-wrapper{
	min-width: 1000px;
}
.button {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	background-color: chartreuse;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 5px 5px 5px rgb(217, 239, 217);
	max-width: 200px;
	margin-bottom: 20px;
}
.button:hover {
	color: darkgreen;
}

.game {
	background: url("../img/fire.jpeg") no-repeat;
	background-size: cover;
	font-size: 0;
	visibility: hidden;
}
.game-wrapper:target .game {
	visibility: visible;
}
.game>* {
	background: url("../img/start.jpg") no-repeat;
}
[class*="level-"] {
	font-size: 18px;
	visibility: hidden;
}
.start{
	
	height: 50px;
	width: 200px;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
}
.level-1 {
	height: 100px;
	width: 40px;	
}
.level-2 {
	height: 20px;
	width: 220px;
	text-align: center;
}
.level-3 {
	margin-left: 220px;
	margin-top: -20px;
	height: 80px;
	width: 20px;	
}
.level-4 {
	margin-left: 220px;
	height: 15px;
	width: 120px;	
}
.level-5 {
	margin-left: 340px;
	margin-top: -100px;
	height: 100px;
	width: 12px;	
}
.level-6 {
	margin-left: 352px;
	margin-top: -100px;
	height: 15px;
	width: 150px;
font-size: 14px;
}
.level-7 {
	margin-left: 490px;
	height: 160px;
	width: 10px;

}
.level-8 {
	margin-left: 490px;
	height: 12px;
	width: 40px;
}
.level-9 {
	margin-left: 520px;
	height: 40px;
	width: 10px;
}
.level-10 {
	margin-left: 520px;
	height: 10px;
	width: 200px;
}
.finish {
	height: 200px;
	width: 300px;
	background: url("../img/sea.jpg") no-repeat;
	margin-left: 720px;
	margin-top: -100px;
	font-size: 40px;
	font-weight: 700;
	padding-top: 80px;
	text-align: center;
	visibility: hidden;
}
.game>*:hover , .game>*:hover + * {
	visibility: visible;
}


.busines {
	font-family: "Inter", sans-serif;
	line-height: 1.2;
}
h1 {
	font-size: 40px;
	font-weight: 700;
text-align: center;
text-transform: uppercase;
}
.busines-1 {
	padding: 80px 290px 80px 290px;
	background-color: #412672;
	width: 100%;
}
h2 {
	font-size: 38px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 30px;
}
h2 span {
	font-weight: 700;
}
.cards {
	margin-right: -20px;
	margin-left: -20px;
	
	font-size: 0;
}
.card {
	width: 33.333%;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;

}
.content {
	padding: 20px;
	background-color: #fff;
	min-height: 480px;
}
.content>* {
	margin-bottom: 16px;
}

.content>*:last-child {
	margin-bottom: 0;
}
h3 {
	font-size: 22px;
	font-weight: 600;
	color: #000;
}
.content p {
	font-size: 15px;
	font-weight: 400;
	color: #4f4f4f;
}
.content .link {
	font-size: 15px;
	font-weight: 400;
	color: #fe3f3f;
}
.card:hover .content{
	background: #FFBE48;
}


.busines-2 {
	padding-left: 290px;
	padding-top: 120px;
	padding-bottom: 100px;
	background: #fff url("../img/bg.png") 95% 50% no-repeat;
}
.box {
	width: 40%;
	}
.busines-2 h2 {
	font-size: 34px;
	font-weight: 400;
	color: #412672;
}
.box h2 span {
	font-size: 34px;
	font-weight: 700;
}
.box>*, li {
	margin-bottom: 20px;
}
.box>*:last-child {
	margin-bottom: 0;
}
.box p {
	font-size: 22px;
	font-weight: 400;
	color: #412672;
}
ul {
	padding-left: 30px;
}
li {
	font-size: 20px;
	font-weight: 400;
	color: #4F4F4F;	
	
	
}
li::before {
	background: url("../img/Frame.png") 0 0 / 40% no-repeat;
	content: "";
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: -30px;
}