
@import url("fonts.css");

@import url("reset.css");


body {
	font-family: "Montserrat", sans-serif;

}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* ----------------------- */
.header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #EBD9CF;
	color: #000;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.5;
}
.header__container {
		display: flex;
	align-items: center;
	justify-content: space-between;	
	gap: 20px;
	max-width: 1230px;
	padding-top: 26.5px;
	padding-bottom: 26.5px;
}
.header__logo {
margin-right: 20px;
}
.logo-header {
		display: flex;
	align-items: center;
	gap: 6px;
}
.logo-header__icon {
	height: 44px;
	width: 44px;
	flex-shrink: 0;
}
.logo-header__text {
	/* display: inline-block; */
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}
.header__menu {
}
.menu {
	
}
/* обгортка */
.menu__body {
}
/* ul menu */
.menu__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
	align-items: center;
	column-gap: 30px;
	row-gap: 8px;
	text-transform: uppercase;
}
/* li menu */
.menu__item {
	position: relative;
	display: flex;
	gap: 8px;
	align-items: center;
	
}
.menu__link {
	
}
.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;	
	opacity: 0;
	visibility: hidden;
	text-transform: lowercase;
	background-color: #EBD9CF;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.sub-menu__item {
	
}
.sub-menu__link {
}
.header__button {
	background:#F26522;
	padding: 8px 30px;
	color: #fff;
	border-radius: 999px;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}
.header__button::after {
	content: "";
	background: url("../img/arrow.svg") 0 50% no-repeat;
	width: 24px;
	height: 24px;
}
.icon-menu {
	display: none;
}
@media (any-hover: hover) {
.menu__item:hover .sub-menu {
		opacity: 1;
	visibility: visible;
}
}
@media (max-width:767.98px){
	.logo-header__text {
font-size: 16px;
line-height: 1.2;
}
.menu__list {	
	column-gap: 20px;	
	row-gap: 4px;
}
.header__button {
font-size: 14px;	
gap: 4px;
padding: 8px 20px;
}


}
@media (max-width:570px){
/* .menu {
	display: none;	
} */
.icon-menu {
	display: block;
	position: relative;
	width: 40px;
	height: 25px;
	margin-right: 15px;
}
.icon-menu::before,
.icon-menu::after,
.icon-menu span {
position: absolute;
content: "";
width: 100%;
height: 2px;
background-color: #000;

}
.icon-menu::before {
	top: 0;
}
.icon-menu span {
	top: 50%;
	transform: translateY(-50%);
}
.icon-menu::after {
	bottom: 0;
}
.menu__body {
	/* opacity: 0;
	visibility: hidden; */
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 3;
		background-color: #EBD9CF;
}
.menu__list {
	flex-direction: column;
	align-items: center;
	gap: 20px;
	justify-content: space-around;
padding: 50px 15px 30px 15px;
font-size: 20px;
}
}

@media (max-width:425px){
	.logo-header__text {
display: none;
}
}
@media (max-width:320px){
.header__logo {
margin-right: 0;
}
}
