*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*=__container] {
  max-width: 84.375rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

[class*=-section] {
  margin-bottom: 4rem;
}
@media (max-width: 48em) {
  [class*=-section] {
    margin-bottom: 1rem;
  }
}

.header__container {
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-block: 20px;
  margin-inline: auto;
}
.header__title {
  font-size: 32px;
  font-weight: 700;
}
.header__link img {
  margin-right: 10px;
}
@media (any-hover: hover), (pointer: fine) {
  .header__link:hover {
    text-decoration: underline;
  }
}

.first-section {
  background-color: black;
}
.first-section__content {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 48em) {
  .first-section__content {
    grid-template-columns: 1fr 1fr;
  }
}
.first-section__text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 62em) {
  .first-section__text {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 48em) {
  .first-section__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 30em) {
  .first-section__text {
    font-size: 1rem;
  }
}
.first-section__img {
  padding-top: 2.5rem;
}
@media (max-width: 62em) {
  .first-section__img {
    padding-top: 1rem;
  }
}
.first-section__img img {
  aspect-ratio: 8/5;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.second-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 48em) {
  .second-section__container {
    font-size: 0.875rem;
    grid-template-columns: 90%;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second-section__container :nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.second-section__img {
  max-width: 40.625rem;
  aspect-ratio: 1/0.8;
  border: 0.625rem solid #fff;
  -webkit-box-shadow: 0 0.625rem 0.625rem gray;
          box-shadow: 0 0.625rem 0.625rem gray;
}
@media (max-width: 48em) {
  .second-section__img {
    aspect-ratio: 1/0.5;
    border: 0.3rem solid #fff;
    -webkit-box-shadow: 0 0.3rem 0.3rem gray;
            box-shadow: 0 0.3rem 0.3rem gray;
  }
}
.second-section__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.second-section__text h2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 1em;
  position: relative;
}
@media (max-width: 48em) {
  .second-section__text h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 30em) {
  .second-section__text h2 {
    font-size: 1rem;
  }
}
.second-section__text h2::after {
  content: "";
  width: 20%;
  height: 0.1rem;
  background-color: grey;
  position: absolute;
  top: 110%;
  left: 0;
}
.second-section__text p {
  margin-bottom: 1rem;
}
@media (max-width: 48em) {
  .second-section__text p {
    margin-bottom: 0.3rem;
  }
}

.third-section {
  min-height: 38rem;
  background: #000 url("../img/p_index-slider_01.avif") 50% 50%/50% no-repeat;
  position: relative;
}
@media (max-width: 62em) {
  .third-section {
    background: #000 url("../img/p_index-slider_01.avif") 50% 50%/70% no-repeat;
    min-height: 28rem;
  }
}
@media (max-width: 48em) {
  .third-section {
    min-height: 20rem;
  }
}
@media (max-width: 30em) {
  .third-section {
    min-height: 12rem;
  }
}
.third-section__text {
  max-width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2980392157);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 48em) {
  .third-section__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 30em) {
  .third-section__text {
    font-size: 1rem;
  }
}

.four-section .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}
@media (max-width: 48em) {
  .four-section .advantages {
    gap: 0.5rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.four-section .advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 1.125rem);
          flex: 0 1 calc(25% - 1.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 62em) {
  .four-section .advantages__item {
    font-size: 0.875rem;
  }
}
@media (max-width: 48em) {
  .four-section .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
            flex: 0 1 calc(50% - 1rem);
    font-size: 0.75rem;
  }
}
.four-section .advantages__item h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 62em) {
  .four-section .advantages__item h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 48em) {
  .four-section .advantages__item h3 {
    font-size: 1rem;
  }
}
.four-section .advantages__item img {
  max-width: 5rem;
  max-height: 5rem;
}

.footer {
  background-color: rgb(16, 16, 78);
  color: #fff;
}
@media (max-width: 30em) {
  .footer {
    font-size: 0.75rem;
  }
}
.footer__top h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
@media (max-width: 62em) {
  .footer__top h2 {
    font-size: 1.5rem;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  border-bottom: 0.16rem solid gray;
  padding-block: 1rem;
}
.footer__top address {
  font-style: normal;
}
.footer__top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__top address > :not(:last-child) {
  margin-bottom: 0.8rem;
}
.footer__top img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
@media (max-width: 62em) {
  .footer__top img {
    max-width: 1rem;
    max-height: 1rem;
  }
}
.footer iframe {
  max-height: 7.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding-block: 1rem;
}
.footer__bottom div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom span {
  position: relative;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.footer__bottom span::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: -0.2rem;
  height: 0.8rem;
  width: 0.8rem;
  border: 0.06rem solid white;
  border-radius: 50%;
}