
@import url("fonts.css");


@import url("reset.css");


@import url("button.css");

body {
	font-family: "Poppins", sans-serif;
	background-color: #fff;
	
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.page__container {
	margin: 0 auto;
	padding: 0 15px 30px 15px ;
}
h1 {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	color:darkolivegreen;
	background-color: darkgrey;
	margin-bottom: 40px;
}
.order__container {
	max-width: 1320px;
	margin: 0 auto;
	display: flex;
	gap: 16px;
}
.order__info {
	flex: 0 0 872px;
}
.info__box {
	display: flex;
flex-direction: column;
justify-content: space-between;
}
.info__billing-information {	
	border-bottom: 1px solid #E6E6E6;
}
h2 {
font-size: 24px;
font-weight: 500;
line-height: 1.5; 
color: #1A1A1A;
margin-bottom: 20px;
}
.personal-data p {
	font-size: 14px;
	line-height: 1.5;
	color: #1A1A1A;
	margin-bottom: 8px;
}
.personal-data span {
	color: #808080;
}
.personal-data__form {
display: flex;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 16px;
}
.personal-data__label {
	flex-basis: 280px;
}
input , select , textarea {
	height: 49px;
	border: 1px solid #E6E6E6;
	padding: 0 16px;
		border-radius: 6px;
}
.personal-data__input::placeholder , select {
	font-size: 16px;
	line-height: 1.3;
	color: #999;
}

.address__form {
display: flex;
flex-wrap: wrap;
	justify-content: space-between;
	gap: 16px;	
	margin-bottom: 16px;
}
.address__form label:first-child {
	flex: 0 1 100%;
}
.address__form label:not(:first-child) {
	flex: 0 1 280px;
}
select {
	width: 100%;
}
.contacts__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 16px;
}
.contacts__label {
	flex: 0 1 49%;
}
.contacts__label--input {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 1.5;
	color: #4d4d4d;
	margin-bottom: 32px;
}
.contacts__label--input input {
width: 20px;
	height: 20px;
}

.info__additional-info {
	padding-top: 32px;
}
.info--add__textarea{
	width: 100%;
	min-height: 100px;
	padding-top: 14px;
	resize: vertical;
}

.order__summery {
	flex: 1 1 auto;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	line-height: 1.5;
	font-size: 14px;
	border: 1px solid #E6E6E6;
	border-radius: 8px;
}
h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 14px;
}
.item-summery {
	display: flex;
	align-items: center;
	justify-content: space-between;	
	gap: 24px;
}
.item-summery-bottom-line {
padding: 10px 0;
border-bottom: 1px solid #E6E6E6;;
}
.item-summery__product {
	display: flex;
	align-items: center;
	gap: 6px;
}
.item-summery__img {
	width: 60px;
	height: 60px;
}
.item-summery__name .item-summery__number {
color: #1A1A1A;
}
.item-summery__result {
color: #4d4d4d;
}
.item-summery__price {
font-weight: 500;
}
.item-summery__result--biger {
font-size: 16px;
}
.item-summery__price--biger {
	font-size: 18px;
	font-weight: 600;
}
.radio {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.radio__input {
	width: 0;
	height: 0;
	opacity: 0;
	width: auto;
}
.radio__label {
	position: relative;
		display: inline-flex;
	align-items: center;
gap: 15px;	
cursor: pointer;
}
.radio__label::before {
 content: "";
  flex-shrink: 0;
  width: 15px;
  height: 15px; 
 	border-radius: 50%;
	border: 1px solid #00B307;
  transition: background-color 0.3s;
  align-self: flex-start;
}
.radio__label::after {
	content: "";
	position: absolute;
	 width: 9px;
  height: 9px; 
  border-radius: 50%;
   top: 3px;
  left: 3px;
  background-color: #00B307;
  opacity: 0;
}
.radio__input:checked + .radio__label::after {
	 opacity: 1;
}
.button-order__buton {
	width: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	background-color: #00B307;
	padding: 16px 40px;
	border-radius: 43px;
	margin: 24px 0;
}