
@import url("fonts.css");


@import url("reset.css");



.wrapper {
	overflow: clip;
	min-height: 100%;
}
.page {
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
font-family: "Montserrat";
}
.lesson-6 {
	padding: 20px 40px;
	background: url("../img/rain.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 20px;
	font-weight: 400;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 10px rgb(71, 78, 90);
	margin-bottom: 40px;
}
h1 {
	font-size: 30px;
	font-weight: 700;
	color: #490cb1;	
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.bloc{
	background-color: #302C42;
	max-width: 1440px;
padding: 10px;
font-size: 0;
overflow: clip;
}

.container-1 {	
padding: 30px;
max-width: 1340px;
min-height: 70px;
border-radius: 90px;
border: 1px solid #000;
background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
color: #fff;
line-height: 1.5;
margin-bottom: 40px;
}
.box-1{
	background: url("../img/Location-Icon.svg") 0 50% / auto 60px no-repeat;
padding-left: 70px;

}
.box-2{
	background: url("../img/tel-icon/phone-call.svg") 10% 50% / auto 60px no-repeat;
	padding-left: 100px;
	border-right: 2px solid #837e97;
border-left: 2px solid #837e97;

}
.box-3{
	background: url("../img/leter-icon/mail.svg") 10% 50% / auto 60px no-repeat;
	padding-left: 100px;
}
h2 {font-size: 24px;
	font-weight: 700;
}
a {
	font-size: 14px;
	font-weight: 400;
}
.box-1, .box-2, .box-3 {
	width: 33.333%;
	display: inline-block;
	vertical-align: top;
}


.container-2 {
	font-family: "Montserrat";
	color: #fff;	
	line-height: 1.2;
		
}
h3{
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
span {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}
.title>h3 img {
	max-width: 150px;
	padding-left: 20px;
}

.leftside .title {
	margin-bottom: 80px;
}
.container-2 img {
	max-width: 400px;
	border-radius: 200px 100px 200px 100px;
	
}
.container-2 p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 60px;

}
.leftside, .rightside {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.rightside .title {
	margin-bottom: 40px;
}
.button {
	font-size: 12px;
	font-weight: 700;
	color: #343045;
	text-transform: uppercase;
	max-width: 214px;
min-height: 48px;
border-radius: 40px;
background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
padding: 20px;
text-align: center;
margin-bottom: 20px;
}
