
@import url("fonts.css");

@import url("reset.css");


.wrapper {
	overflow: clip;
	min-height: 100%;
}
.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}
.section_1 {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #808080;
	line-height: 1.5;
	max-width: 648px;
	margin: 20px auto;
	
}
.section_1 * {
	margin-bottom: 10px;
}
.item {
	background: url("../img/Check.png") no-repeat;
	padding-left: 30px;
	min-height: 20px;
}

.bloc_1 {	
	max-width: 1272px;
	border-radius: 90px;
background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
padding: 30px;	
font-size: 0;
margin-bottom: 20px;
}
.box {
		padding-left: 20px;
	width: 33.333%;
	display: inline-block;
	vertical-align: top;
	color: white;
}
.content_1 {
	background: url("../img/Location-Icon.svg") no-repeat;		
	padding-left: 70px;
	min-height: 85px;
	border-right: 2px solid grey;
}
.content_2 {
	background: url("../img/phone-call.svg") no-repeat;	
	padding-left: 70px;
	min-height: 85px;
	border-right: 2px solid grey;
}
.content_3 {
	background: url("../img/mail.svg") no-repeat;	
	padding-left: 70px;
	min-height: 85px;
}
a{
	font-weight: bold;
	font-size: 24px;	
	margin-bottom: 10px;
}
.box p{
	font-size: 14px;
	font-weight: 400;
}

.section_2 {
	font-family: "Montserrat", sans-serif;
	background-color: #302C42;
	padding: 40px;
	min-height: 2000px;
}
.bloc_2 {
	padding-left: -10px;
	padding-right: -10px;
	font-size: 0;
}

.left-side, .right-side {
width: 50%;
padding-right: 10px;
padding-left: 10px;
display: inline-block;
vertical-align: top;
color: #fff;
}

.text {
	
	font-size: 16px;
	font-weight: 400;
}

.title-1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;	
}
.title-2 {
	font-size: 36px;
	font-weight: 300px;
	text-transform: uppercase;	
}

.title-2 img{
	width: 120px;
}
.left-side > .text > .title + img {	
	border-radius: 200px 100px 200px 100px;
	
}
.left-side .title{
	margin-bottom: 120px;
}
.right-side .paragraph {
	margin-bottom: 100px;
}
.right-side .title {
		margin-bottom: 40px;
}
.button{
	border-radius: 40px;
background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
padding: 15px;
max-width: 214px;
font-size: 12px;
font-weight: bold;
color: #343045;
text-align: center;
}
